@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}
select,
input,
textarea {
  border: 1px solid #ffebf5;
  outline-color: black;
  border-radius: 6px;
}
.active {
  background-color: #ffebf5;
  border-color: black;
}
